name: Docker Image CI

on:
  push:
    branches: [ "master" ] #当有push到master分支时

jobs:
  build:
    runs-on: ubuntu-latest #运行在虚拟机环境 ubuntu-latest
    steps:
      - uses: actions/checkout@v3 #获取源码 使用的 action 是actions/checkout@v3
      - name: Build the Docker image #要执行job的名称 可自定义
        run: | #开始运行
          docker login -u jhinih -p ${{ secrets.DOCKER_HUB_PASSWORD }} #登录docker hub 括号内为插值表达式，用于保护docker hub密码
          docker buildx create --use #使用docker buildx 比docker build功能更加强大一点
          docker buildx build .   --push --tag jhinih/text-achobeta-forge:latest #构建镜像并推送到指定仓库，tag设置为latest