name: Docker Image CI

on:
  push:
    branches: [ "master" ] #当有push到master分支时

jobs:
  build:
    runs-on: ubuntu-latest #运行在虚拟机环境 ubuntu-latest
    steps:
      - uses: actions/checkout@v3 #获取源码 使用的 action 是actions/checkout@v3

      - name: Login to Docker Hub #登录Docker Hub
        uses: docker/login-action@v2
        with:
          username: jhinih
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Set up Docker Buildx #设置Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push Docker image #构建并推送Docker镜像
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: jhinih/text-achobeta-forge:latest